@import "../../app/variables.scss";

.width-wrapper {
    width: 1200px;
    margin: 0 auto;
}

.container {
    width: 100%;
    height: auto;
    .block-1 {
        position: relative;
        section {
            position: absolute;
            width: 50%;
            max-width: 580px;
            top: 150px;
            display: flex;
            flex-direction: column;
            gap: 120px;
            h1 {
                font-weight: 500;
                line-height: 48.76px;
                text-align: left;
                color: $primary-color;
            }
            button {
                width: 50%;
                height: 55px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .block-2 {
        @extend .width-wrapper;
        position: relative;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        .wrapper {
            width: 100%;
            display: flex;
            gap: 5px;
            position: relative;
            section {
                flex: 1;
                width: 580px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h2 {
                    font-weight: 400;
                    line-height: 32px;
                    @media (max-width: $first-point) {
                        font-size: 22px;
                    }
                    @media (max-width: $second-point) {
                        font-size: large;
                    }
                    @media (max-width: $third-point) {
                        font-size: medium;
                        line-height: 20px;
                    }
                }
                button {
                    width: 258px;
                    height: 55px;
                    p {
                        font-size: 25px;
                    }
                    @media (max-width: $first-point) {
                        width: 230px;
                        p {
                            font-size: x-large;
                        }
                    }
                    @media (max-width: $third-point) {
                        width: 200px;
                        height: 45px;
                        p {
                            font-size: large;
                        }
                    }
                }
            }
            .img-holder {
                flex: 1;
            }
            @media (max-width: $fourth-point) {
                width: 90%;
                flex-direction: column;
                .img-holder {
                    order: 1;
                }
                section {
                    order: 2;
                }
            }
        }
    }
    $i: 4;
    @while $i <= 16 {
        .block-#{$i} {
            @extend .block-2;
            .wrapper {
                gap: 100px;
            }
        }
        $i: $i + 2;
    }
    .footer {
        margin-top: 100px;
        @extend .width-wrapper;
        display: flex;
        justify-content: space-between;
    }
}

// block-1
@media (max-width: $first-point) {
    .width-wrapper {
        width: $first-point-to
    }
    .container .block-1 section {
        top: 50px;
        gap: 70px;
        button {
            width: 40%;
        }
    }
}

@media (max-width: $second-point) {
    .width-wrapper {
        width: $second-point-to
    }
    .container .block-1 section {
        width: 400px;
        gap: 40px;
        h1 {
            font-size:xx-large;
            line-height: normal;
        }
        button {
            width: 50%;
        }
    }
}

@media (max-width: $third-point) {
    .width-wrapper {
        width: $third-point-to
    }
    .container .block-1 section {
        h1 {
            font-size: x-large;
        }
    }
}

@media (max-width: $fourth-point) {
    .container .block-1 {
        width: 100%;
        section {
            top: 20px;
            width: 90%;
            flex-direction: row;
            justify-content: space-around;
            h1 {
                width: 200px;
                font-size: x-large;
            }
            button {
                width: 200px;
            }
        }
    }
}

@media (max-width: $fifth-point) {
    .container .block-1 {
        width: 100%;
        section {
            top: 40px;
            width: 90%;
            flex-direction: row;
            justify-content: space-around;
            h1 {
                width: 200px;
                font-size: large;
            }
            button {
                width: 150px;
            }
        }
    }
}