@import 'app/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;

  .filters {
    width: 50%;
    display: flex;
    justify-content: space-between;

    @media (max-width: $first-point) {
      width: 70%;
    }
    @media (max-width: $second-point) {
      width: 70%;
    }
    @media (max-width: $third-point) {
      width: 100%;
      .guests {
        order: 1;
      }
    }
    @media (max-width: $fourth-point) {
      .guests {
        display: none;
      }
      justify-content: space-around;
    }
  }

  .houses {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 50px;
    @media (max-width: $sixth-point) {
      gap: 0;
    }
  }
}
