@import '../../../../app/variables.scss';

.container {
    position: relative;
    border: 3px dashed $secondary-color;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding: 40px {
        left: 50px;
        right: 0
    };

    .wrapper {
        position: relative;
        display: flex;
        .content {
            .header {
                margin-bottom: 30px;
            }
            position: relative;
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .event {
                display: flex;
                justify-content: space-between;
                .title {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }

        }

        .submit {
            width: 50%;
            position: relative;
            display: flex;
            justify-content: center;
            .box {
                bottom: 0;
                width: 55%;
                display: flex;
                flex-direction: column;
                gap: 30px;
                .upshot {
                    h2, p {
                        font-size: 30px;
                        font-weight: 600;
                    }
                    p {
                        color: $third-acent-color;
                    }
                    span {
                        font-weight: 500;
                    }

                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }

    }


}