.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        row-gap: 60px;
        .userinfo {
            width: 45%;
        }
        .comment {
            width: 100%;
        }
    }
}