.calendar {
  margin: 50px auto;
  border: 1px solid #ddd;
  font-family: 'Arial', sans-serif;
  width: 100%;
}

.header {
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.header .col {
  display: inline-block;
  margin: 0 5px;
  padding: 10px 0;
}

.header .icon {
  cursor: pointer;
}

.days {
  background: #f0f0f0;
  text-align: center;
}

.days .col {
  display: inline-block;
  width: 14.28%;
  padding: 10px 0;
  border-right: 1px solid #ddd;
}

.days .col:last-child {
  border-right: none;
}

.body .row {
  border-bottom: 1px solid #ddd;
}

.body .col {
  text-align: center;
  border-right: 1px solid #ddd;
  display: inline-block;
  width: 14.28%;
  padding: 10px 0;
  cursor: pointer;
  background: #fff;
}

.body .col.disabled {
  color: #ccc;
}

.body .col.selected {
  background: #007bff;
  color: white;
}

.body .col:last-child {
  border-right: none;
}