$primary-color: #FFFEFB;
$secondary-color: #031F21;
$secondary-acent-color: #C2EEE8;
$third-color: #FFEED6;
$third-acent-color: #AA6809;
$container-width: 1200px;
$button-base-h: 55px;

/// media width_point


$first-point: 1270px;
    $first-point-to: 900px;

$second-point: 1000px;
    $second-point-to: 800px;

$third-point: 840px;
    $third-point-to: 650px;

$fourth-point: 680px;