$primary-color: #fffefb;
$secondary-color: #031f21;
$secondary-acent-color: #c2eee8;
$third-color: #ffeed6;
$third-acent-color: #aa6809;
$container-width: 1200px;
$button-base-h: 55px;

/// media width_point

$first-point: 1270px;
$first-point-to: 900px;

$second-point: 1000px;
$second-point-to: 800px;

$third-point: 840px;
$third-point-to: 650px;

$fourth-point: 680px;

$fifth-point: 600px;

$sixth-point: 390px;
