.container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    header {

    }
    section {
        display: flex;
        gap: 100px;
        justify-content: start;
        margin-bottom: 40px;
        .features {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }
    article {
        
    }
}