@import '../../app/variables.scss';

.container {
    h1, section, .description {
        margin-top: 60px;
    }
    .description {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    section {
        cursor: pointer;
        display: flex;
        position: relative;
        height: 100%;
        border: 2px dashed black;
        padding: 50px;
        border-radius: 24px;
        .first-column {
            width: 450px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            .address {
                display: flex;
                flex-direction: column;
                gap: 15px;
                .address-header {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                }
                .address-text {
                    font-size: x-large;
                }
            }
            .preview {
                width: 420px;
                height: 315px;
                border-radius: 15px;
                overflow: hidden;
            }
        }
        .second-column {
            width: 65%;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 30px;
            .line {
                display: flex;
                justify-content: flex-end;
                div, h3 {
                    flex: 0 0 43%;
                }
                .clock {
                    margin-top: 10px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }
        }
        .clip {
            position: absolute;
            bottom: 50px;
            left: 50px;
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }
        &:hover .clip {
            opacity: 1;
        }
    }

    @media (max-width: $first-point) {
        section {
            padding: 40px;
            .first-column .preview {
                width: 360px;
                height: 270px;
            }
        }
    }
}