.container {
    width: 100vw;
    height: 100vh;
    background-image: url('../../../public/home/13.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .island {
        width: 1000px;
        height: 700px;
        backdrop-filter: blur(25px);
        border-radius: 25px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-self: center;
        text-align: center;
        .error-code {
            font-size: 220px;
        }
        .text {
            display: flex;
            flex-direction: column;
            gap: 30px;
            h1 {
                font-size: 50px;
            }
            a {
                font-size: 50px;
                text-decoration: underline;
                transition: opacity 0.2s ease-in-out;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        .error-code, .text h1, .text a {
            color: white;
        }
    }
}